@import "tailwindcss";

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    background-color: white !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .print-hidden {
    display: none !important;
  }
  .print-area {
    width: 210mm !important;
    height: 297mm !important;
    margin: 0 !important;
    padding: 10mm !important;
    box-shadow: none !important;
    border: none !important;
    transform: scale(0.98);
    transform-origin: top left;
  }
}
